.FormLogin{
    /* Tamanho */
    height: 100%;
    /* Cores */
    color: black;
    /* FlexBox */
    display: flex;
    justify-content: center;
    align-items: center;
}

.FormLogin h2{
    /* Cores */
    color: aliceblue;
    /* Alinhamento */
    text-align: center;
    /* Margins */
    margin-bottom: 2rem;
}

.FormLogin form{
    /* Cores */
    background: rgb(38, 38, 38);
    /* Margins */
    padding: 3.5rem 2.5rem;
    /* Bordas */
    border-radius: 1rem;
}