.Footer{
    /* Alinhamento */
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    padding: 20px;
    /* Cores */
    background: linear-gradient(to right, rgb(240, 152, 25), rgb(237, 222, 93));
    color: #222;
    /* Fontes */
    font-size: 1.2rem;
    font-weight: bold;
}