.Header{
    /* Alinhamento */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Cores */
    background: linear-gradient(to right, rgb(240, 152, 25), rgb(237, 222, 93));
    color: #222;
}

.Header > h1{
    /* Cores */
    background: #222;
    color: #f0f8ff;
    /* Bordas */
    padding: 0.5rem;
    border-radius: 0.8rem;
    box-shadow: #222 0.5rem 0.5rem 1rem;
    /* Fontes */
    font-size: 2.5rem;
}