.Input{
    /* Flexbox */
    display: flex;
    flex-direction: column;
}

.Input > label{
    /* Fontes */
    font-size: 1.2rem;
}

.Input > input{
    /* Fontes */
    font-size: 1.2rem;
    /* Margins */
    padding: 0.2rem;
    margin: 0.4rem 0;
    /* Bordas */
    border: none;
    border-radius: 0.5rem;
}