.container{
    /* Posição */
    position: relative;
    /* Tamanho */
    width: 20%;
    min-width: 8rem;
    height: 100%;
    /* Cores */
    background: rgba(240, 150, 25, 0.849);
    /* Sombras */
    box-shadow: #222 0.5rem 0.5rem 2rem;
}

.Nav{
    /* FlexBox */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.Nav .link {
    /* Cores */
    background-color: #222;
    color: aliceblue;
    /* Margins */
    margin: 0.1rem;
    padding: 0.5rem;
    /* Bordas */
    border-radius: 0.2rem;
    /* Sombras */
    box-shadow: #222 0.2rem 0.2rem 2rem;
    /* Fontes */
    font-weight: normal;
    /* Tamanho */
    width: 95%;
}

.Nav .deletar {
    /* Cores */
    background-color: #fa0000;
    color: aliceblue;
    /* Margins */
    margin: 0.1rem;
    padding: 0.5rem;
    /* Bordas */
    border-radius: 0.2rem;
    /* Sombras */
    box-shadow: #222 0.2rem 0.2rem 2rem;
    /* Fontes */
    font-weight: normal;
    /* Tamanho */
    width: 95%;
    /* Decoração */
    text-decoration: none;
}

button.menuOpen {
    /* Posição */
    position: absolute;
    right: calc(100% - 19%);
    /* Bordas */
    border-radius: 1rem;
    border: rgba(240, 150, 25, 0.849);
    /* Cores */
    background-color: rgb(240, 150, 25);
    /* Margins */
    margin-top: 0.5rem;
    /* Fontes */
    font-size: 1rem;
    width: 4rem;
}

@media (max-width: 800px) {
    button.menuOpen {
        /* Posição */
        position: absolute;
        right: calc(100% - 10rem);
        /* Bordas */
        border-radius: 1rem;
        border: rgba(240, 150, 25, 0.849);
        /* Cores */
        background-color: rgb(240, 150, 25);
        /* Margins */
        margin-top: 0.5rem;
        /* Fontes */
        font-size: 1rem;
        width: 4rem;
    }
}

button.menuClosed {
    /* Posição */
    position: absolute;
    left: -0.8rem;
    /* Bordas */
    border-radius: 1rem;
    border: rgba(240, 150, 25, 0.849);
    /* Cores */
    background-color: rgb(240, 150, 25);
    /* Margins */
    margin-top: 0.5rem;
    padding-left: 1.2rem;
    /* Fontes */
    font-size: 1rem;
}

a.link{
    /* cursor */
    cursor: pointer;
    /* Transformação */
    text-decoration: none;
}

a.link:hover{
    /* Cores */
    background-color: aliceblue;
    color: #000;
}
a.deletar:hover{
    /* Cores */
    background-color: aliceblue;
    color: #fa0000;
}